@model PasswordManager.Models.Password

<link rel="stylesheet" href="~/css/detalle.css" />

<section class="container-info">
    <!-- Title -->
    <div class="info-title">
        <h2 class="title-url">@Model.Titulo</h2>
        <img class="title-icon" src="https://www.google.com/s2/favicons?domain=@Model.URL" alt="Alternate Text" />
    </div>

    <!-- User -->
    <div class="card-info">
        <h2 class="info-subtitle">Usuario</h2>
        <h3 class="info-content">@Model.UserEmail</h3>
    </div>

    <!-- Password -->
    <div class="card-info">
        <h2 class="info-subtitle">Contraseña</h2>
        <h3 class="info-content">@Model.PasswordHash</h3>
    </div>

    <!-- URL -->
    <div class="card-info">
        <h2 class="info-subtitle">URL</h2>
        <h3 class="info-content">@Model.URL</h3>
    </div>

    <!-- Categoría -->
    <div class="card-info">
        <h2 class="info-subtitle">Categoría</h2>
        <h3 class="info-content">@Model.Categoria</h3>
    </div>

    <!-- Button card -->
    <div class="box-btn">
        <a class="btn-primary" asp-controller="Password" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
        <a class="btn-secondary" asp-controller="Password" asp-action="Delete" asp-route-id="@Model.Id">Eliminar</a>
    </div>

</section>